@use '../abstracts/' as *;

.gallery {
  display: grid;
  gap: 2rem;

  @include breakpoint(medium) {
    @include breakpoint-down(large) {
      width: calc(100% - var(--product-padding-inline) * 2);
      margin-inline: auto;
    }
  }
}

.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__main {
  width: 100%;
  position: relative;
  justify-content: center;
  aspect-ratio: 1/1;
}

.image__container {
  --image-radius: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  isolation: isolate;
  border-radius: var(--image-radius);

  @include breakpoint(medium) {
    --image-radius: 1rem;
  }
}

.image__large {
  border-radius: var(--image-radius);

  @include breakpoint(large) {
    .gallery:not(.lightbox) & {
      cursor: pointer;
    }
  }
}

.gallery__controller {
  --button-controller-size: 40px;
  --icon-width: 10px;
  --icon-height: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-inline: 1rem;

  @include breakpoint(medium) {
    --button-controller-size: 50px;
    --icon-width: 12px;
    --icon-height: 18px;
  }

  svg {
    width: var(--icon-width);
    height: var(--icon-height);
  }
}

.gallery__thumbnails {
  width: min(100%, 450px);

  @include breakpoint-down(large) {
    display: none;
  }
}

.image__small {
  width: 88px;
  height: 88px;
  transition: filter 200ms ease;

  .button-thumbnail[aria-pressed='true'] & {
    filter: opacity(0.3);
  }

  .button-thumbnail:where(:hover, :focus-visible) & {
    filter: opacity(0.5);
  }
}
