@use '../abstracts/' as *;

.product {
  --product-padding-inline: #{rem(22)};
  display: grid;

  @include breakpoint(medium) {
    --product-padding-inline: #{rem(32)};
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(2, 445px);
    justify-content: space-between;
    align-items: center;
    padding: rem(88) rem(48);
  }
}

.info {
  display: grid;
  gap: 1rem;
  padding: var(--product-padding-inline);

  @include breakpoint(large) {
    padding: 0;
    gap: 1.5rem;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint(large) {
    flex-direction: row;
  }
}

.quantity-controller {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: rem(18) rem(20);
  background-color: var(--blue-0);
  border-radius: rem(10);

  @include breakpoint(large) {
    min-width: 160px;
  }
}
